<%include partials/headers%>
<div class="container">
<div class="jumbotron">
  <h1>Welcome to the EShop!</h1>
  <p>Shop the finest items form over the world! </p>
  <p><a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a></p>
</div>
</div>
<a href="/items">View items</a>
<%include partials/footers%>