<%include ../partials/headers%>

<div class="container">
<div class="jumbotron">
<h1>Welcome to Eshop!</h1>
<p>Now you can buy the best of items from over the world on single click!</p>
<a class="btn btn-primary" href="/items/new">Sell an item?</a><br>
</div>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<% items.forEach(function(items){ %>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
     <img src="<%=items.image%>" alt="img">
        <div class="caption">
        <h3><%=items.name%></h3>
        <h5>Price: $<%=items.price%></h3>
        <p><a href="/items/<%=items._id%>" class="btn btn-primary" role="button">More Info</a> </p>
      </div>
    </div>
  </div>

	
<% }); %>
</div>
</div>

<%include ../partials/footers%>