<%include ../partials/headers%>


<div class="container">
<div class="jumbotron">
  <h1>"Sell your items on EShop and grow your business!" </h1>
  <p>Many tried it. Now its your turn...</p>
</div>
    <div class="row">
        <h1 align="center">Sell!</h1><br><br>
        <div style="width:25%; margin:0 auto;">
        <form action="/items" method="POST">
            <div class="form-group">
                 <input class="form-control" type="text" name="name" placeholder="name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="image" placeholder="image url">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="price" placeholder="price">
            </div>
            <div class="form-group">
            <input class="form-control" type="textarea" name="description" placeholder="description">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </form>
         <a href="/">Back to Home page</a><br>
         <a href="/items">Back to all items</a><br>
        </div>
    </div>
</div>

<%include ../partials/footers%>